.square {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
};
.squareRowsColsNames{
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid  white;
};
.table{
    width: 450px;
    height: 450px;
    border: 1px solid black;
};